html {
	font-family: "Montserrat Regular",sans-serif;
	}

body {
    margin: 0;
  }
  .image-container 
  {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
  }

  img
  {
      width: 50%;
  }

  .image-transition
  {
    position: absolute;
    top: -40%;
    right: -3%;
    width: 30%;
  }

  
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #000;
		margin:0;
	}
	.intro p{
		color: #000;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Overwriting styles for control arrows for slides
	* --------------------------------------- */
	.controlArrow.prev {
		left: 50px;
	}
	.controlArrow.next{
		right: 50px;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
  }
  
  .halfWidth
  {
    margin: 0 30%;
  }

  .some-page-wrapper {
	
	
  }
  
  .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;
	margin: 0 10%;
	margin-top: 80px;
  }
  
  .column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-content: center !important;
	margin: 0 10px;
	align-items: center;
  }
  
  .halfWidthRow
  {
	width: 60%;
  }
  
  .logoWidth
  {
	width: 40%;
  }

  #header-text
  {
	position: absolute;
	top: 10%;
	margin: 35px;
	font-size: 50px;
	font-weight: 700;
  }

  #footer-text
  {
	position: absolute;
	bottom: 20%;
	margin: 35px;
	font-size: 50px;
	font-weight: 700;
  }

  .row2
  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;
  }