html
{
	font-family: 'Montserrat', 'sans-serif';
}

body {
    margin: 0;
  }
  .image-container 
  {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
  }

  .image-transition
  {
    position: absolute;
    top: -40%;
    right: -3%;
    width: 30%;
  }

  
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		
		color: #000;
		margin:0;
		font-family: 'Montserrat', 'sans-serif';
		font-weight: 700;
	}
	.intro p{
		color: #000;
		font-family: 'Montserrat', 'sans-serif';
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Overwriting styles for control arrows for slides
	* --------------------------------------- */
	.controlArrow.prev {
		left: 50px;
	}
	.controlArrow.next{
		right: 50px;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
  }
  
  .halfWidth
  {
	margin: 0 10%;
	font-family: 'Montserrat', 'sans-serif';
  }

  .some-page-wrapper {
	
	
  }
  
  .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;
	margin: 0 10%;
	margin-top: 10px;
  }
  
  .column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-content: center !important;
	margin: 0 10px;
	align-items: center;
  }
  
  .halfWidthRow
  {
	width: 75%;
  }
  
  .logoWidth
  {
	width: 40%;
  }

  #header-text
  {
	position: absolute;
	top: 10%;
	margin: 35px;
	font-size: 50px;
	font-weight: 700;
	font-family: 'Montserrat', 'sans-serif';
  }

  #footer-text
  {
	position: absolute;
	bottom: 20%;
	margin: 35px;
	font-size: 50px;
	font-weight: 700;
	font-family: 'Montserrat', 'sans-serif';
  }

  .row2
  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;

  }

  .row3
  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;
	
  }

  .mb-50
  {
	  margin-bottom: 50px;
  }

  .mb-10
  {
	margin-bottom: 10%;
  }

  .mb-102
  {
	margin-bottom: 10px;
  }

  .mt-80
  {
	  margin-top: 80px;
  }

  #bonelli
  { 
	font-size: 30px;
	font-weight: 900;
	font-family: 'Montserrat', 'sans-serif';
	color: black;
	margin-bottom:10px;
  }

  .tableCell
  {
	display: flex;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
	
  }

  .immaginiamo
  {
	  font-weight: 900;
	  font-size: 60px;
  }

  .bottom
  {
	display: table-header-group;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0px;

	left: 5%;
	margin-right: -150px;
	text-align: left;
	
  }

  .bottom-text
  {
	  color: black;
	  font-weight: 500;
	  font-family: 'Montserrat', 'sans-serif';
	  font-size: 20px;
  }

  .loghileft
  {
	left: 5%;
	position: absolute;
  }

  .clienti
  {
	text-align: left;
	left: 5%;
	position: absolute;
	top: 10%;
  }

.logoWidth
{
	width: 50%;
}

.bigLogoWidth
{
	width: 30%;
}

  @media only screen and (max-width: 600px) {
	.logoWidth
	{
		width: 100%;
	}

	.immaginiamo
	{
		font-size: 40px;
	}

	.image-transition
	{
		right: 3%;
		top: -45%;
	}

	.clienti
	{
		top: 15%;
	}

	.bigLogoWidth
	{
		width: 50%;
	}
  }